.toolbar {
  position: fixed;
  width: 100%;
  /* border-bottom: 1px solid black;*/
  top: 0;
  left: 70px;
  padding: 20px;
  z-index: 150;
  background-color: white;
  margin-left: 200px !important;
}

.toolbar-navigation {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.toolbar-navigation img {
  display: inline-block;
  height: auto;
  max-height: 50px;
  width: 100%;
  max-width: 100px;
}

.spacer {
  flex: 1;
}

.chips {
  display: flex;
}
.container-md {
  padding-left: 59px !important;
}
.chip-block {
  position: relative;
  left: 2%;
  /*margin-left:10% !important;*/
}

.toolbar-navigation-items {
  display: inline;
  width: 100%;
  justify-content: flex-end;
  height: 50%;
  align-items: center;
  color: cornflowerblue;
}

.toolbar-navigation-items img {
  height: 20%;
  cursor: pointer;
}

@media (max-width: 800px) {
  .toolbar-navigation-items {
    display: flex;
    width: auto;
    margin-right: 10px;
    margin-left: 10px;
  }
  .toolbar-navigation-items img {
    margin-left: 10px;
    margin-right: 10px;
  }
  .toolbar {
    left: 0;
  }
}

@media (max-width: 769px) {
  .burger-icon {
    display: none;
  }
  .toolbar-navigation .container {
    padding-left: 0 !important;
  }
  .toolbar-navigation-items {
    margin-right: 20px;
  }
  .toolbar {
    margin-left: 0 !important;
  }
}
