.mco-update {
display: flex;
}
.mco-txt {
flex: 10;
}
.mco-update-style {
color: #666666;
padding-top: 5px;
}
.mco-sts {
flex: 4;
}
.mco-date {
    color: #666666;
    font-size: x-small;
}
.fl-sts-txt {
display: flex;
justify-content: center;
}
.mco-icon {
  flex: 1;  
  padding-top: 5px;
}